@page "/"

<PageTitle>Index</PageTitle>
<h1>Error : @err</h1>
<h1>부, 모에 따른 유전형 입력</h1>
<input placeholder="모" @bind="mDna"/>
<input placeholder="부" @bind="dDna"/>
<div>
    @{
        if (validate())
        {
            int i = 0;
            foreach (var c in (dDna + mDna).ToList().Distinct())
            {
                <GeneCreateBox Dispnum="@i" GT="@(c.ToString())" />
                i++;
            }
        }
    }
</div>
@{
    GeneCreateBox.GenoSet += displayGenos;
}

@code {
    private string err = "Zero";
    private string dDna = "", mDna = "";
    private DNA dad = new DNA(), mom = new DNA();
    private void displayGenos()
    {
        foreach (var item in GeneCreateBox.GenoForPheno)
        {
            Console.WriteLine($"{item.Key} for {item.Value}");
        }
    }
    private bool validate()
    {
        dad = new DNA();
        mom = new DNA();
        foreach (var c in dDna)
            dad.Genes.Add(new Gene(c));
        foreach (var c in mDna)
            mom.Genes.Add(new Gene(c));
        if (!DNAExtension.ValidateDNAs(dad, mom))
        {
            return false;
        }
        return true;
    }
    public Wight? creature;
    public void SetPheno(char c, string b)
    {
        c.SetPhenotype(b);
    }
    public void NewCreature(char[] motherDNA, char[] fatherDNA)
    {
        DNA a = new DNA(fatherDNA), b = new DNA(motherDNA);
        Wight creature = new Wight(a, b);
    }
    public Dictionary<(DNA, DNA), string> Reproduct(Wight? c)
    {
        if (c == null) c = creature.Clone();
        return creature.ReproductWith(creature.Clone());
    }
    public Dictionary<string, int> CountSamePhenotypes(Dictionary<(DNA, DNA), string> reproducted)
    {
        Dictionary<string, int> phenoRatio = new Dictionary<string, int>();
        var f2 = reproducted;
        foreach (var item in f2)
        {
            var genotype = item.Value;

            if (!phenoRatio.TryAdd(item.Value.Phenotype(), 1))
                phenoRatio[item.Value.Phenotype()]++;
        }
        return phenoRatio;
    }

}