<div>
    <span>@GT : </span>
    <input placeholder="표현형" @onchange="phenoChanged"/>
</div>

@code {
    [Parameter]
    public int Dispnum {get;set;}
    [Parameter]
    public string GT {get;set;}
    private void phenoChanged(ChangeEventArgs e) {
        var p = e.Value.ToString();
        GT[0].SetPhenotype(p);
    }
}